html, body {
    font: 12px Verdana, sans-serif;
    background:#ccc;
}

#container {
}

#shell {
    padding:0.5em;
    background:black;
    top:30px;
    left:10px;
}

#shell-cursor {
    top:30px;
    left:10px;
    padding:0.5em;
    position:absolute;
    display: none;
}

#menu {
    text-align:right;
    padding:0.5em;
}

.readonly {
    border:0.5em solid red;
}

.right {
    text-align:right;
}

.menu {
    text-align:right;
}

.row, .row-cursor {
    margin:0px;
    padding:0px;
    /*border:1px solid #008C00;*/
    color:#ccc;
    font-family: Monaco, Courier, monospace;
    font-size:14px;
}

.row-cursor {
    color:red;
}

.cursor {
    background-color:#ccc;
}

.bright {}
.dull {}
.underscore {}
.blink {}
.reverse {}
.hidden {}

.fg-black {
    color: black;
}
.fg-red {
    color: #FF1A00;
}
.fg-green {
    color: #008C00;
}
.fg-yellow {
    color: #FFFF88;
}
.fg-blue {
    color: #4096EE;
}
.fg-magenta {
    color: #FF0084;
}
.fg-cyan {
    color: #C3D9FF;
}
.fg-white {
    color: white
}

.bg-black {
    background-color: black
}
.bg-red {
    background-color: #FF1A00
}
.bg-green {
    background-color: #008C00
}
.bg-yellow {
    background-color: #FFFF88
}
.bg-blue {
    background-color: #4096EE
}
.bg-magenta {
    background-color: #FF0084
}
.bg-cyan {
    background-color: #C3D9FF
}
.bg-white {
    background-color: white
}
